<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Flask Requests Assignment</h1>
    
    <form action="/process" method="POST">
        Fetch Http Response:<br>
        <input type="text" name="url" placeholder="http://www....">
        <button style="background-color:blue; color: rgb(249, 249, 249); border-radius: 5px;">Fetch</button>

    </form>
    
</body>
</html>